name: "Terraform Plan"

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  id-token: write   # Required for requesting the OIDC JWT
  contents: read    # Required for actions/checkout

env:
  AWS_REGION: "ap-south-1"
  # The Role ARN created in Phase 0 (Management Account)
  AWS_ROLE_ARN: "arn:aws:iam::311472845767:role/GitHubActionsRole"
  TF_WORKING_DIR: "./01-Enterprise-Landing-Zone-2.0"

jobs:
  terraform-plan:
    name: "Plan"
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ${{ env.TF_WORKING_DIR }}

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ env.AWS_ROLE_ARN }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: "1.10.0" 

      - name: Terraform Init
        run: terraform init

      - name: Terraform Validate
        run: terraform validate

      - name: Terraform Plan
        run: terraform plan -input=false